h1 {
	padding: 5;
}

th {
	background-color: lightgrey
}

.product {
	background-color: #F5F5DC;
}

.description {
	font-size: smaller
}

body {
	font-family: "メイリオ", sans-serif;
	width: 100%;
	margin: auto;
	text-align: center;
position:relative;
}

.buttons {
	font-family: "メイリオ", sans-serif;
	font-size: 18px; background-color : #00ff7f;
	border-color: #00ff7f;
	width: 200px;
	height: 50px;
	background-color: #00ff7f;
}
.topDown{
	width: 100%;
	padding-Top: 100px;
	position: absolute;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}